input#widget-kjkdfhciuw-login-widget-2-avatar_size {
    width: 50px;
}
.kjkdfhciuw-login-widget .kjkdfhciuw_widget_error {
	color: #ae121e;
	background-color: #fbb1b7;
	border: 1px solid;
	margin: 1em 0;
	padding: 1em;
	font-size: 13px;
}
